* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  background: #fefefe;
  color: #333333;
  padding: 1em;
  font-size: 12pt;
  font-family: 'YU Gothic UI', 'Meiryo UI', sans-serif;
}

a:link    { color: hsl(230, 70%, 40%) }
a:visited { color: hsl(280, 70%, 40%) }
a:hover   { color: hsl(0, 100%, 60%) }

p {
  margin-top: 1em;
}

h1 {
  font-size: 140%;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 120%;
  margin-bottom: 0.5em;
}

/**
 * 入力テキストエリア関連
 */
#input-container {
  overflow: hidden;
}

#input-container > div {
  width: 400px;
  margin-bottom: 1em;
}

#input-container textarea {
  width: 100%;
  height: 4em;
}

/**
 * オプション関連
 */
#option-container {
  overflow: hidden;
}

#option {
  float: left;
  width: 20em;
}

#option-kirizma-mode, #option-scoreid {
  margin-bottom: 0.2em;
}

#option-scoreid label {
  display: block;
  float: left;
  width: 5.5em;
}

#option-scoreid input {
  width: 4em;
}

#romaji-setting {
  float: left;
  width: 15em;
}

#convert-button {
  margin-top: 0.5em;
  padding: 0.1em;
  font-size: 110%;
}

#romaji-setting-preset {
  margin-bottom: 0.2em;
}

.romaji-setting-item {
  height: 1.5em;
  overflow: hidden;
}

.romaji-setting-item > span {
  display: block;
  float: left;
  width: 3em;
  height: 100%;
}

.romaji-setting-item > label {
  display: block;
  float: left;
  width: 2em;
  height: 100%;
}

.romaji-setting-item > input[type="radio"] {
  float: left;
  width: 1em;
  height: 100%;
  margin-right: 4px;
}
